<h1>Division</h1>

<dl>
  <dt>First number</dt>
  <dd><%= @nume %></dd>

  <dt>Second number</dt>
  <dd><%= @denom %></dd>

  <dt>Result</dt>
  <dd><%= @result %></dd>
</dl>

<a href="/divide">Do another multiplication</a>
