<h1>New division</h1>

<form action="/wizard_divide">
  <label for="num">
    Divide this:
  </label>
  <input id="num" name="numerator" text="text">

  <label for="denom">
    by this:
  </label>
  <input id="denom" name="denominator" text="text">

  <button>
    Divide!
  </button>
</form>
