<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="num1">
    Multiply this:
  </label>
  <input id="num1" name="first_num" text="text">

  <label for="num2">
    by this:
  </label>
  <input id="num2" name="second_num" text="text">

  <button>
    Multiply!
  </button>
</form>
